/**
 * Stylesheet for LelTar
 *
 * Containers
 *********************************************************/

.card, .unit {
	background: rgb(245, 245, 245);
	border: .06em solid;
	border-radius: .5em;
	padding: .5em;
	margin: .12em;
}

.card {box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, 0.2), 0 .3em 1.2em 0 rgba(0, 0, 0, 0.19);}