/**
 * Stylesheet for LelTar
 *
 * Forms
 *********************************************************/

/* Search */
form.search {overflow:initial;}
form.search input {
	border-color: black;
	font-size: 1.2em;
	width: 100%;
}

@media only screen and (min-width: 350px) {
	form.search input[type=search] {width: auto;}
}

/* Login */
form.login input {border-color: black;}

/*
 * General
 ************/

form {overflow:auto;}

input[type=text],
input[type=password],
input[type=date],
input[type=search],
form select,
form textarea {
	padding: .25em;
	border: .06em solid black;
	border-radius: .25em;
}
input:required, select:required {border: 0.06em solid red;}

form
input[type=text],
input[type=password],
input[type=date],
textarea {
	width: 100%;
}

form textarea {
	height: 5em;
	resize: none;
}

form input[type=checkbox] {padding: .25em;}