/**
 * Stylesheet for LelTar
 *
 * Special & random
 *********************************************************/

/*
 * Special
 ************/

/* Dropdown */
.dropdown {position: relative;}

[class^="drop-"] {
	display: none;
	position: absolute;
	z-index: 1;
}
.drop-right {
	top: 2em;
	left: 0;
}
.drop-left {
	top: 2em;
	right: 0;
}

/*
 * Random
 ************/

/* Canvas for structure */
#structure {
	background: white;
	border: .06em solid black;
	margin: .25em .5em;
	max-width: 100%;
	height: auto;
}

/*
 * Change log
 ************/

.changelog {
	flex-direction: row;
	flex-wrap: no-wrap;
	max-width: 800px;
}

.change_list,
.changelist_item {
	border: .06em solid black;
	border-radius: .25em;
}

.change_list {
	min-width: 200px;
	max-height: 300px;
	overflow-x: auto;
	background: rgb(245, 245, 245);
	padding: .25em;
	cursor: default;
}

.changelist_item {
	background: hsl(156, 100%, 55%);
	padding: .25em;
	margin-bottom: .12em;
	cursor: pointer;
}

.change_detail {
	display: none;
	cursor: default;
}

/*
 * Live search
 ************/

div.live_search {
	background: rgb(245, 245, 245);
	border: .06em solid;
	border-radius: .25em;
	padding: .5em;
	margin: 0;
	cursor: pointer;
}
div.live_search:hover {background: yellow;}
div.focus {background: yellow;}