/**
 * Stylesheet for LelTar
 *
 * Buttons
 *********************************************************/

/*
 * Buttons
 ************/

/* General */
.button {
	display: block;
	width: 100%;
	margin: .12em;
	padding: .25em .5em;
	border: .06em solid;
	border-radius: .25em;
	cursor: pointer;
	color: white;
}

@media only screen and (min-width: 350px) {
	.button {
		display: inline-block;
		width: auto;
	}
}

/* Menu & Category & Pagination & Submit */
button.menu,
div.admin {padding: .5em;}
button.menu,
button.category,
button.pagination,
button.submit {
	background-color: hsl(120, 60%, 50%);
	border-color: hsl(120, 60%, 20%);
}

/* Site specific */
button.site {
	background-color: hsl(328, 100%, 54%);
	border-color: hsl(328, 100%, 24%);
}

/* Logout */
button.logout {
	background-color: hsl(33, 100%, 50%);
	border-color: hsl(33, 100%, 20%);
}

/* Selected buttons */
button.selected,
button.restart,
div.admin {
	background-color: hsl(210, 100%, 56%);
	border-color: hsl(210, 100%, 26%);
}

/* Delete */
button.delete, button.close {
	background-color: hsl(0, 100%, 50%);
	border-color: hsl(0, 100%, 20%);
}

/* Barcode */
button.barcode,
span.barcode {
	font-family: "Lucida Console", Monaco, monospace;
	padding: .5em;
	border: .12em solid;
	background-color: hsl(0, 0%, 90%);
	cursor: pointer;
}

/* Hovers */
button.menu:hover,
button.category:hover,
button.pagination:hover,
button.submit:hover {background-color: hsl(120, 60%, 40%);}
button.site:hover {background-color: hsl(328, 100%, 44%);}
button.logout:hover {background-color: hsl(33, 100%, 40%);}
button.selected:hover,
button.restart:hover,
div.admin:hover {background-color: hsl(210, 100%, 46%);}
button.delete:hover,
button.close:hover {background-color: hsl(0, 100%, 40%);}
button.barcode:hover {
	background-color: hsl(0, 0%, 80%);
	text-decoration: underline;
}

/* Links */
a:link, a:visited {
	text-decoration: none;
	color: black;
}

/* Pagination */
nav.pagination span {float: left;}